:root {
  --dark-blue-grey: #0b1b26;
  --electric-blue: #0054ff;
  --light-royal-blue: #4833ff;
  --pinkish-grey: #c2c2c2;
  --white: #ffffff;
  --small-screen: 700px;
}

body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-blue-grey);
  color: var(--white);
}

.text--hide {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
