.Menu {
    display: grid;
    grid-column: 1 / -1;
    align-content: center;
    justify-items: end;
    background-color: var(--dark-blue-grey);
    padding: 0 20px 0 0;
}

.Menu__title {
    font-weight: bold;
    font-size: 1rem;
    color: var(--white);
}

.Menu__icon {
    width: 25px;
    margin-right: 6px;
    margin-bottom: -2px;
    image-rendering: crisp-edges;
}