.PopupOverlay {
    width: 320px;
    font-size: 1rem;
    font-family: 'Overpass', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 2px 0;
}

.PopupOverlay__section {
    display: flex;
    margin: 10px 0;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.PopupOverlay__section--fstart {
    justify-content: flex-start;
}

.PopupOverlay__section--minh {
    min-height: 65px;
}

.PopupOverlay__value {
    font-weight: bold;
    color: var(--light-royal-blue);
}

.PopupOverlay__value--small {
    font-size: 0.875rem;
}

.PopupOverlay--primary {
    color: var(--electric-blue);
}

.PopupOverlay__full {
    display: block;
    width: 100%;
}

.PopupOverlay__title {
    display: block;
    margin-bottom: 6px;
}

.PopupOverlay__label {
    display: block;
    color: var(--dark-blue-grey);
}

.PopupOverlay__stat {
    flex-shrink: 3;
    margin-right: 18px; 
}

.PopupOverlay__stat:last-child {
    margin-right: 0; 
}

.PopupOverlay__icon {
    display: block;
}

.PopupOverlay__icon--none {
    position: relative;
    color: var(--light-royal-blue);
}

.PopupOverlay__icon--none::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--light-royal-blue);
}

/* overrides */

leaflet-popup {
    text-align: left;
}

.leaflet-popup-content-wrapper {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.leaflet-popup-tip-container {
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 0;
    left: -6px;
    top: 48%;
    transform: translateY(0) rotate(45deg);
}

.leaflet-popup-tip-container .leaflet-popup-tip {
    box-shadow: none;
    width: 14px;
    height: 14px;
    transform: rotate(0);
    margin: 0;
    border-radius: 2px;
}

.leaflet-popup-close-button {
    display: none;
}
